@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

body {
    background-color: #f4f7fa;
}

.sidebar {
    height: 100%;
    width: 30%;
    background-color: #3b1818;
    position: fixed;
    left: 0;
    padding: 20px;
    color: #fff;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.sidebarimg {
    border-radius: 50%;
    width: 200px;
    margin-bottom: 20px;
}
.sidebar h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style: none;
    text-align: left;
}

.sidebar ul li {
    margin-bottom: 15px;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}

.sidebar ul li a:hover {
    color: #ba4642;
}

section {
    margin-left: 32%;
    padding: 20px;
}

section h3 {
    color: #3b1818;
    font-size: 28px;
    margin-bottom: 20px;
}

section p {
    color: black;
    line-height: 1.6;
    font-size: 16px;
    margin-bottom: 20px;
}

.sidebar-line {
    height: 2px;
    background: linear-gradient(to right, transparent, #4ab2f3, transparent);
    margin: 20px 0;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.listDiv {
    margin-top: 20px;
}

.listItem {
    display: flex;
    align-items: start;
}

.listImg {
    width: 30px;
    margin-right: 20px;
    vertical-align: middle;
    flex-shrink: 0;
    filter: invert(11%) sepia(29%) saturate(1352%) hue-rotate(315deg) brightness(84%) contrast(94%);
}

.sidebar .listImg {
    width: 20px;
    filter: invert(100%) brightness(100%) grayscale(100%);
}

@media screen and (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    
    .sidebarimg {
        width: 150px;
    }

    section {
        margin-left: 0;
    }

    section p {
        margin-bottom: 10px;
    }

    .listImg {
        width: 20px;
        margin-right: 10px;
    }

    .sidebar ul {
        display: flex;
        text-align: center;
        justify-content: center;
    }
    .sidebar li {
        margin-right: 20px;
    }
}